---
layout: page
title: Projects
---
<section class="section">
  <div class="container">
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.project-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 class="text-white font-tertiary"> {{item.title}} </h4>
              <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>